body {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* header {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
  } */
  
  .container {
    background-color: white;
  }

  .head-container {
    background-color: #333333;
    padding: 10px;
    margin-bottom: 0px;
  }
  
  .namesite {
    text-align: left;
    font-size: 45px;
    color: white;
    width: 90%;
    float: left;
    padding: 15px;
    /* height: 38px; */
  }

  .logonstu {
    border-radius: 13%;
  }

  .navcontainer {
    background-color: #606060;
    font-size: 20px;
    padding: 9px;
  }

  .mainpage {
    padding: 10px;
    margin: 25%;
  }

  .about-us {
    padding: 10px;
  }

  .news {
    padding-top: 10px;
  }

  .welcome {
    font-size: 25px;
    padding-left: 10px;
  }

  .all-rights-reserved {
    margin: 15px;
    margin-top: 13px;
    text-align: center;
  }

  .all-rights-reserved a {
    text-decoration: underline;
  }

.newses {
    text-align: left;
    padding: 10px;
    margin-right: 80%;
}

  /* .navcontainer span {
    padding: 10px;
  } */


  .photo-1 {
    margin-top: 20px;
    margin-left: 20px;
    height: auto;
    width: 100px;
  }

  .photo-2 {
    margin-top: 30px;
    margin-left: 20px;
  }

  div a {
    color: white;
    text-decoration: none;
  }

  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 10px;
  }
  
  h2 {
    color: #333;
  }
  
  article {
    margin-bottom: 20px;
  }
  
  h3 {
    color: #333;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin-top: 435px;
  }